body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-container {
  text-align: center;
}

.data-container {
  display: flex;
  justify-content: center;
}

.data-container .box {
  border: solid 1px gray;
  margin: 8px;
  padding: 8px;
  min-width: 200px;
  text-align: center;
}
